@font-face {
  font-family: "Circe-Regular";
  src: url("../css/fonts/Circe.eot");
  src: url("../css/fonts/Circe.eot?#iefix") format("embedded-opentype"), url("../css/fonts/Circe.otf") format("opentype"), url("../css/fonts/Circe.svg") format("svg"), url("../css/fonts/Circe.ttf") format("truetype"), url("../css/fonts/Circe.woff") format("woff"), url("../css/fonts/Circe.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("../img/bg.png");
  background-size: 5px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 95px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title {
  display: none;
  height: 95px;
}

.title h1 {
  color: #fff;
  font-family: "Circe-Regular";
  font-size: 70px;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: -0.5px;
  margin: 0;
  text-align: center;
}

.yellow {
  display: inline-block;
  color: yellow;
  background-color: #000;
  margin: 0;
  padding: 7px 4px 0 0;
}

.hide-block {
  display: none;
  position: absolute;
  width: 100%;
}

.hide-block img {
  height: 80px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 440px;
}

.car-container {
  position: relative;
  width: 100%;
}

.car {
  width: 100%;
  position: absolute;
  -webkit-animation-name: car-drive;
          animation-name: car-drive;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.car img {
  height: 150px;
  width: 150px;
}

.poof {
  width: 50px;
  height: 50px;
  position: relative;
}

.poof img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -75px;
  left: -15px;
  opacity: 0;
  -webkit-animation: poof 2.5s ease-in-out forwards infinite;
          animation: poof 2.5s ease-in-out forwards infinite;
}

@-webkit-keyframes poof {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  76% {
    opacity: 1;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@keyframes poof {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  76% {
    opacity: 1;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

.rocket-container {
  position: relative;
  width: 100%;
}

.rocket {
  max-width: 100px;
  position: absolute;
  display: none;
  right: 470px;
}

.rocket img {
  height: 150px;
  width: 100px;
  -webkit-animation: rocket-show;
          animation: rocket-show;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.rocket-drive {
  -webkit-animation: rocket-drive;
          animation: rocket-drive;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes car-drive {
  0% {
    -webkit-transform: translate(-10%);
            transform: translate(-10%);
    top: 1px;
  }
  2% {
    top: -1px;
  }
  4% {
    top: 1px;
  }
  6% {
    top: -1px;
  }
  8% {
    top: 1px;
  }
  10% {
    top: -1px;
  }
  12% {
    top: 1px;
  }
  14% {
    top: 1px;
  }
  16% {
    top: -1px;
  }
  18% {
    top: 1px;
  }
  20% {
    top: -1px;
  }
  22% {
    top: 1px;
  }
  24% {
    top: -1px;
  }
  26% {
    top: 1px;
  }
  28% {
    top: -1px;
  }
  30% {
    top: 1px;
  }
  32% {
    top: -1px;
  }
  34% {
    top: 1px;
  }
  36% {
    top: -1px;
  }
  38% {
    top: 1px;
  }
  40% {
    top: -1px;
  }
  42% {
    top: 1px;
  }
  44% {
    top: -1px;
  }
  46% {
    top: 1px;
  }
  48% {
    top: -1px;
  }
  50% {
    top: 1px;
  }
  52% {
    top: -1px;
  }
  54% {
    top: 1px;
  }
  56% {
    top: -1px;
  }
  58% {
    top: 1px;
  }
  60% {
    top: -1px;
  }
  62% {
    top: 1px;
  }
  64% {
    top: -1px;
  }
  66% {
    top: 1px;
  }
  40% {
    -webkit-transform: translate(70%);
            transform: translate(70%);
  }
  50% {
    -webkit-transform: translate(70%);
            transform: translate(70%);
  }
  55% {
    -webkit-transform: translate(70%);
            transform: translate(70%);
  }
  60% {
    -webkit-transform: translate(70%);
            transform: translate(70%);
  }
  70% {
    -webkit-transform: translate(70%);
            transform: translate(70%);
  }
  80% {
    -webkit-transform: translate(70%);
            transform: translate(70%);
  }
  90% {
    -webkit-transform: translate(70%);
            transform: translate(70%);
  }
  100% {
    -webkit-transform: translate(70%);
            transform: translate(70%);
  }
}

@keyframes car-drive {
  0% {
    -webkit-transform: translate(-10%);
            transform: translate(-10%);
    top: 1px;
  }
  2% {
    top: -1px;
  }
  4% {
    top: 1px;
  }
  6% {
    top: -1px;
  }
  8% {
    top: 1px;
  }
  10% {
    top: -1px;
  }
  12% {
    top: 1px;
  }
  14% {
    top: 1px;
  }
  16% {
    top: -1px;
  }
  18% {
    top: 1px;
  }
  20% {
    top: -1px;
  }
  22% {
    top: 1px;
  }
  24% {
    top: -1px;
  }
  26% {
    top: 1px;
  }
  28% {
    top: -1px;
  }
  30% {
    top: 1px;
  }
  32% {
    top: -1px;
  }
  34% {
    top: 1px;
  }
  36% {
    top: -1px;
  }
  38% {
    top: 1px;
  }
  40% {
    top: -1px;
  }
  42% {
    top: 1px;
  }
  44% {
    top: -1px;
  }
  46% {
    top: 1px;
  }
  48% {
    top: -1px;
  }
  50% {
    top: 1px;
  }
  52% {
    top: -1px;
  }
  54% {
    top: 1px;
  }
  56% {
    top: -1px;
  }
  58% {
    top: 1px;
  }
  60% {
    top: -1px;
  }
  62% {
    top: 1px;
  }
  64% {
    top: -1px;
  }
  66% {
    top: 1px;
  }
  40% {
    -webkit-transform: translate(70%);
            transform: translate(70%);
  }
  50% {
    -webkit-transform: translate(70%);
            transform: translate(70%);
  }
  55% {
    -webkit-transform: translate(70%);
            transform: translate(70%);
  }
  60% {
    -webkit-transform: translate(70%);
            transform: translate(70%);
  }
  70% {
    -webkit-transform: translate(70%);
            transform: translate(70%);
  }
  80% {
    -webkit-transform: translate(70%);
            transform: translate(70%);
  }
  90% {
    -webkit-transform: translate(70%);
            transform: translate(70%);
  }
  100% {
    -webkit-transform: translate(70%);
            transform: translate(70%);
  }
}

@-webkit-keyframes rocket-show {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transform: scale(0.5) rotate(4turn);
            transform: scale(0.5) rotate(4turn);
  }
  5% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transform: scale(0.7) rotate(4turn);
            transform: scale(0.7) rotate(4turn);
  }
  10% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transform: scale(1) rotate(4turn);
            transform: scale(1) rotate(4turn);
  }
}

@keyframes rocket-show {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transform: scale(0.5) rotate(4turn);
            transform: scale(0.5) rotate(4turn);
  }
  5% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transform: scale(0.7) rotate(4turn);
            transform: scale(0.7) rotate(4turn);
  }
  10% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transform: scale(1) rotate(4turn);
            transform: scale(1) rotate(4turn);
  }
}

@-webkit-keyframes rocket-drive {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  20% {
    -webkit-transform: translateY(-50%) rotate(-10deg);
            transform: translateY(-50%) rotate(-10deg);
  }
  40% {
    -webkit-transform: translateY(-500%) rotate(40deg);
            transform: translateY(-500%) rotate(40deg);
  }
  60% {
    -webkit-transform: translateY(-800%) rotate(70deg);
            transform: translateY(-800%) rotate(70deg);
  }
  100% {
    -webkit-transform: translateY(-1000%);
            transform: translateY(-1000%);
  }
}

@keyframes rocket-drive {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  20% {
    -webkit-transform: translateY(-50%) rotate(-10deg);
            transform: translateY(-50%) rotate(-10deg);
  }
  40% {
    -webkit-transform: translateY(-500%) rotate(40deg);
            transform: translateY(-500%) rotate(40deg);
  }
  60% {
    -webkit-transform: translateY(-800%) rotate(70deg);
            transform: translateY(-800%) rotate(70deg);
  }
  100% {
    -webkit-transform: translateY(-1000%);
            transform: translateY(-1000%);
  }
}
/*# sourceMappingURL=style.css.map */