@font-face 
	font-family: "Circe-Regular" 
	src: url("../css/fonts/Circe.eot") 
	src: url("../css/fonts/Circe.eot?#iefix") format("embedded-opentype"), url("../css/fonts/Circe.otf") format("opentype"), url("../css/fonts/Circe.svg") format("svg"), url("../css/fonts/Circe.ttf") format("truetype"), url("../css/fonts/Circe.woff") format("woff"), url("../css/fonts/Circe.woff2") format("woff2") 
	font-weight: normal 
	font-style: normal 

body
  background-image: url('../img/bg.png')
  background-size: 5px
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 0
  display: flex
  flex-direction: column
  align-items: center
  align-content: center 
  justify-content: center
  overflow: auto
  user-select: none

.main
  display: flex
  width: 100%
  height: 95px
  justify-content: center
.title
  display: none
  height: 95px
  h1
    color: #fff
    font-family: "Circe-Regular"
    font-size: 70px
    font-weight: 700
    line-height: 88px
    letter-spacing: -0.5px
    margin: 0
    text-align: center

.yellow
  display: inline-block
  color: yellow
  background-color: #000
  margin: 0
  padding: 7px 4px 0 0

.hide-block
  display: none
  position: absolute
  width: 100%
  img
    height: 80px
    position: absolute
    z-index: 1
    top: 0
    right: 440px

.car-container
  position: relative
  width: 100% 
.car
  width: 100%
  position: absolute
  animation-name: car-drive
  animation-duration: 12s
  animation-timing-function: ease-in
  animation-iteration-count: 1 
  animation-fill-mode: forwards  
  img
    height: 150px 
    width: 150px

.poof
  width: 50px
  height: 50px
  position: relative
  img
    position: absolute
    width: 20px
    height: 20px
    top: -75px
    left: -15px
    opacity: 0 
    animation: poof 2.5s ease-in-out forwards infinite
 
@keyframes poof 
  0%
    opacity: 0
    transform: scale(1.0)
  70% 
    opacity: 0
    transform: scale(1.0)
  76% 
    opacity: 1
    transform: scale(1.3) 
  95%
    opacity: 0  
  100%
    opacity: 0
    transform: scale(1.3)  
 
.rocket-container
  position: relative
  width: 100%
.rocket
  max-width: 100px
  position: absolute
  display: none
  right: 470px
  img
    height: 150px 
    width: 100px
    animation: rocket-show
    animation-duration: 1s
    animation-timing-function: ease-in
    animation-iteration-count: 1 
    animation-fill-mode: forwards

.rocket-drive
  animation: rocket-drive
  animation-duration: 10s
  animation-timing-function: ease-in
  animation-iteration-count: 1 
  animation-fill-mode: forwards

@keyframes car-drive
  0%
    transform: translate(-10%)
    top: 1px
  2% 
    top: -1px 
  4%
    top: 1px
  6%    
    top: -1px   
  8%
    top: 1px 
  10%
    top: -1px
  12%
    top: 1px
  14%
    top: 1px
  16% 
    top: -1px 
  18%
    top: 1px
  20%    
    top: -1px   
  22%
    top: 1px  
  24%    
    top: -1px 
  26%
    top: 1px
  28%    
    top: -1px
  30%
    top: 1px
  32%
    top: -1px
  34%
    top: 1px  
  36%    
    top: -1px 
  38%
    top: 1px
  40%    
    top: -1px
  42%
    top: 1px
  44%
    top: -1px
  46%
    top: 1px
  48%
    top: -1px
  50%
    top: 1px  
  52%    
    top: -1px 
  54%
    top: 1px
  56%
    top: -1px
  58%
    top: 1px
  60%
    top: -1px
  62%
    top: 1px  
  64%    
    top: -1px 
  66%
    top: 1px  
    
  40%
    transform: translate(70%)
  50%
    transform: translate(70%)  
  55%
    transform: translate(70%)
  60%
    transform: translate(70%)      
  70%
    transform: translate(70%)
  80%
    transform: translate(70%)
  90%
    transform: translate(70%)    
  100%
    transform: translate(70%)

@keyframes rocket-show
  0%
    transform: translateY(0%)
    transform: scale(0.5) rotate(4turn)
  5%
    transform: translateY(0%)
    transform: scale(0.7) rotate(4turn)
  10%
    transform: translateY(0%)
    transform: scale(1) rotate(4turn)

@keyframes rocket-drive  
  0%
    transform: translateY(0%)
  20%  
    transform: translateY(-50%) rotate(-10deg)    
  40%  
    transform: translateY(-500%) rotate(40deg)
  60%  
    transform: translateY(-800%) rotate(70deg)  
  100%  
    transform: translateY(-1000%)  


   